body {
    background-color: rgb(192, 19, 154);
    color: rgb(253, 165, 0);
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    color: rgb(202, 202, 202);
    text-align: center;
}
p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color: rgb(255, 249, 249);
    padding: 30px;
    margin: 20px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
  
.column {
    flex: 1;
    padding: 10px;
}
@media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }
button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  rgb(253, 165, 0);
    border-color: rgb(255, 255, 255);
    background-color: rgb(61, 61, 61);

}
img {
    height: 200px;
}
